{% extends "base.html" %}
{% block content %}
  <div class="row mb-4">
    <div class="col">
      <h2>Latest Blocks</h2>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <form class="row g-3"
                hx-get="{% url 'bstore:blocks' %}"
                hx-target="#blocks-table"
                hx-push-url="{% url 'bstore:blocks' %}">
            <div class="col-md-4">
              <label for="currency" class="form-label">Currency</label>
              <select name="currency" id="currency" class="form-select">
                <option value="">All</option>
                {% for curr in currencies %}<option value="{{ curr.name }}">{{ curr.name }}</option>{% endfor %}
              </select>
            </div>
            <div class="col-md-4">
              <label for="provider" class="form-label">Provider</label>
              <select name="provider" id="provider" class="form-select">
                <option value="">All</option>
                {% for prov in providers %}<option value="{{ prov.name }}">{{ prov.name }}</option>{% endfor %}
              </select>
            </div>
            <div class="col-md-4">
              <label class="form-label">&nbsp;</label>
              <button type="submit" class="btn btn-primary d-block">Filter</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div id="blocks-table"
       hx-get="{% url 'bstore:blocks' %}"
       hx-trigger="load, every 60s">{% include "bstore/blocks_partial_list.html" %}</div>


{% endblock %}
{% block extra_js %}
<script>
  document.addEventListener("htmx:afterSwap", function(event) {
    // Check if the modal content was swapped and then show the modal
    if (event.target.id === 'blockModal') {
      $('#blockModal').modal('show');
    }
  });
</script>
{% endblock %}